body {
    background-color: #264e70;
}

/*------------------------------------------Preloader--------------------------------------------*/
#preloader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #264e70 url(images/preloading.gif) center no-repeat;

}

/*------------------------------------------Instruction--------------------------------------------*/
.button {
    padding: 10px 60px;
    background: #bae8e8;
    color: #264E70;
    font-family: 'MuseoModerno', cursive;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    float: right;

}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.popup h2 h3{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    font-family: 'MuseoModerno', cursive;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #2494f4;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

/*------------------------------------------Simon Game--------------------------------------------*/
#heading {
    font-family: 'Gamja Flower', cursive;
    color: #fdebd3;
    font-size: 3rem;
    margin: 4%;
    text-align: center;
}

.title {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.9rem;
    margin: 100px 20px;
    color: #bae8e8;
    text-decoration: none;
}

a:hover {
    color: #f9b4ab;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
}

.btn {
    width: 100px;
    height: 100px;
    /*top*/
    margin: 25px;
    display: inline-block;
    border-radius: 20%;
    border: 5px solid black;
}

.game-over {
    background-color: #FF0000;
    opacity: 0.8;
}

.red {
    background-color: #FF0000;
}

.blue {
    background-color: #0000FF;
}

.green {
    background-color: #3df900;
}

.yellow {
    background-color: #ffe500;
}

.pressed {
    box-shadow: 0 0 20px #FFFFFF;
    background-color: #808080;
}

/*------------------------------------------Footer--------------------------------------------*/
.social-media {
    text-align: center;
    margin: 2%;
}

.footer {
    margin: 8px 7px;
    color: #bbd4ce;

}
